
@{
    ViewBag.Title = "ContactUs";
}

<h2>Contact Us</h2>

@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<address>
    2800 Selhurst Drive<br />
    Fayetteville North Carolina<br />
    <abbr title="Phone">P:</abbr>
    254-368-7759
</address>

<address>
    <strong>Business:</strong>   <a href="mailto:samuel.lane.sa@outlook.com">samuel.lane.sa@outlook.com</a><br />
    <strong>Personal:</strong> <a href="mailto:slane1976@gmail.com">slane1976@gmail.com</a>
</address>

<p>
    Find Me On
    <a href="https://www.linkedin.com/in/samuel-lane76/">LinkedIn</a>
</p>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
    <h3>Contact Form</h3>

    <div class="container">
        <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="US">United States</option>
                <option value="US">United States</option>
                <option value="usa">USA</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
