
@{
    ViewBag.Title = "ElectronicsComputerOffice";
}


<div class="container text-center">
    <h2>Electronics, Computer & Office</h2>
    <p>Mission, Vission & Values</p>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Electronics, Computer & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/GamingChair.png" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Vertagear P-Line PL6000 Gaming Chair</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Electronics, Computers & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/Sony85inchTV.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Sony X900F 85in XBR Ultra HD 4K HDR LED Smart TV</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Electronics, Computer & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/IntelCorei9Processor.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Intel Core i9-9900K Processor</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Electronics, Computer & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/PioneerCarSterio.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Pioneer AVH-2300NEX Multimedia DVD Receiver with 7" WVGA Display</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Electronics, Computer & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/VRGamingHeadset128GB.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Oculus Quest All-in-one VR Gaming Headset – 128GB</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Electronics, Computers & Office</div>
            <div class="panel-body"><img src="~/StoreImages/ElectronicsComputerOffice/HPSpectre.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">HP Spectre 360 2 in 1</div>
        </div>
    </div>
</div>

