
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@*<a href="html-image-hyperlink.php"><img src="~/StoreImages/StoreIcons/OnlineShopIcon1.jpg" title="Shopping Express" width="600" height="400" /></a>


    <p><a href="https://www.computerhope.com/"><img src="~/StoreImages/SportsOutdoors/S&WSD40.jpg"></a></p>*@

<div class="container"><img src="~/StoreImages/StoreIcons/Shopping Express Logo.png" /></div>


